<section class="board-item" *ngIf="board$ | async as board">
  <div class="container">
    <div class="board-item-inner">
      <div class="board-item-top board-top">
        <button class="board-top__back" (click)="back()">🠘</button>
        <span class="board-top__name">{{board.name}}</span>
        <button class="board-top__delete" (click)="deleteBoard(board.id)">Delete board</button>
      </div>
      <div class="tasks-row">

        <div class="task-do">
          <div class="task-do__top">
            <span class="task-do__name">TO DO</span>
            <button class="task-do__button">
              <img src="../../../../../../assets/plus.svg" alt="image">
            </button>
          </div>
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListConnectedTo]="[progressList, doneList]"
            class="task-list"
          >
            <div class="task-item" *ngFor="let task of todo" cdkDrag>
              <p>{{task}}</p>
              <!-- <span class="task-item__name">{{task.name}}</span>
              <span class="task-item__date">{{task.creationData}}</span>
              <button class="task-item__cross">
                <img src="../../../../../../assets/cross.svg" alt="image">
              </button>
              <button class="task-item__edit">edit</button>
              <button class="task-item__archive">archive</button> -->
            </div>
          </div>
        </div>

        <div class="task-do">
          <div class="task-do__top">
            <span class="task-do__name">IN PROGRESS</span>
          </div>
          <div 
          cdkDropList
          [cdkDropListData]="progress"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          #progressList="cdkDropList"
            class="task-list"
          >
            <div class="task-item" *ngFor="let task of progress" cdkDrag>
              <p>{{task}}</p>
              <!-- <span class="task-item__name">{{task.name}}</span>
              <span class="task-item__date">{{task.creationData}}</span>
              <button class="task-item__cross">
                <img src="../../../../../../assets/cross.svg" alt="image">
              </button>
              <button class="task-item__edit">edit</button>
              <button class="task-item__archive">archive</button> -->
            </div>
          </div>
        </div>

        <div class="task-do">
          <div class="task-do__top">
            <span class="task-do__name">IN PROGRESS</span>
          </div>
          <div 
          cdkDropList
          [cdkDropListData]="done"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListConnectedTo]="[todoList, progressList]"
          #doneList="cdkDropList"
            class="task-list"
          >
            <div class="task-item" *ngFor="let task of done" cdkDrag>
              <p>{{task}}</p>
              <!-- <span class="task-item__name">{{task.name}}</span>
              <span class="task-item__date">{{task.creationData}}</span>
              <button class="task-item__cross">
                <img src="../../../../../../assets/cross.svg" alt="image">
              </button>
              <button class="task-item__edit">edit</button>
              <button class="task-item__archive">archive</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
