
.task-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.task-row:last-child {
  margin-bottom: 0;
}

.task-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.task-row__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-row form {
  width: 100%;
  display: flex;
  align-items: center;
}

.task-input {
  height: 28px;
  border: 1px solid black;
  padding-left: 5px;
}

.task-save {
  width: 50px;
  height: 28px;
  background-color: transparent;
  border: 1px solid black;
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.task-img:first-child,
.task-img:nth-child(2) {
  margin-right: 10px;
}

.task-comment {
  display: flex;
  align-items: center;
}

.task-comment__text {
  display: block;
  margin-right: 3px;
  font-size: 18px;
}

.task-comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-block {
  width: 100%;
  display: flex;
  align-items: center;

  &__input {
    width: 100%;
    height: 25px;
    background-color: white;
    padding-left: 5px;
    font-size: 14px;
  }

  &__button {
    width: 60px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
    cursor: pointer;
  }

  &__button:hover {
    background-color: #fff;
    border: 1px solid black;
  }
}

.task-item:first-child {
  margin-top: 0;
}

.task-item:hover {
  box-shadow: 0 0 3px rgba(25, 25, 25, 0.3);
}

.task-item__date {
  font-size: 14px;
  color: rgb(69, 68, 68);
}
