.edit {
    width: 600px;
}
.edit-inner {
    padding-top: 15px;
    padding-bottom: 15px;
}
.board-edit {
    &__id{
        font-size: 16px;
    }
    &__id span{
        width: fit-content;
        background-color: #3b3838;
        padding: 5px;
        border-radius: 5px;
        color: white;
        cursor: auto;
        user-select: text;
        font-size: 18px;
    }

    &__text {
        display: block;
        margin-top: 8px;
        font-size: 16px;
    }

    &__button {
        width: 120px;
        height: 35px;
        background-color: transparent;
        border: 1px solid #bebebe;
        border-radius: 5px;
        color: black;
        font-size: 16px;
        transition: all 150ms ease;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 8px;
    }
    &__button:hover{
        background-color: #eeeeee;
    }
}
.edit .popup-input {
    width: 100%;
    height: 28px;
    background-color: transparent;
    border: 1px solid #3b3838;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    padding-left: 5px;
    font-style: normal;
    margin-top: 4px;
}
.edit .popup-area{
    width: 100%;
    max-width: 100%;
    border: 1px solid #3b3838;
    height: 70px;
    max-height: 70px;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    padding: 5px;
    margin-top: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.edit .popup-input__error{
    font-size: 14px;
    color: red;
}
.edit .popup-area__error{
    font-size: 14px;
    color: red;
}



