<section class="details" *ngIf="board$ | async as board">
  <div class="container">
    <div class="details-inner">
      <a [routerLink]="['/']" class="details-back">🠘</a>
      <div class="details-block">
        <p class="board-details__text">
          Board name: <br> <span>{{ board.name }}</span>
        </p>
        <p class="board-details__text">
          Board description: <br> <span>{{ board.description }}</span>
        </p>
        <p class="board-details__text">
          Creation date: <br> <span>{{ board.creationDate | date: "d MMMM, y" }}</span>
        </p>
      </div>
    </div>
  </div>
</section>
