<section class="details" *ngIf="board$ | async as board">
  <div class="container">
    <div class="details-inner">
      <button class="details-back" (click)="back()">🠘</button>
      <div class="details-block">
        <p class="board-details__text">
          Board name: <br> <span>{{ board.name }}</span>
        </p>
        <p class="board-details__text">
          Board description: <br> <span>{{ board.description }}</span>
        </p>
        <p class="board-details__text">
          Tasks: <br> <span>{{ board.tasks.length }}</span>
        </p>
        <p class="board-details__text">
          Creation date: <br> <span>{{ board.creationDate | date: "d MMMM, y" }}</span>
        </p>
      </div>
    </div>
  </div>
</section>
