<section class="boards" *ngIf="boards$ | async as boards">
  <div class="container">
    <div class="boards-inner">
      <div class="controls">
        <div class="controls-top">
          <input type="text" class="controls-input" [(ngModel)]="searchText" placeholder="Search by Board name..."/>
          <button class="controls-button" (click)="modalService.open()">
            Add board
          </button>
        </div>
        <div class="controls-block">
          <div class="sort-block">
            <span class="sort-text">sort by: </span>
            <button class="sort-button" (click)="changeName()">board name</button>
            <button class="sort-button" (click)="changeTasks()">tasks</button>
          </div>
        </div>
        
      </div>
      <div>
        <div *ngFor="let board of boards | searchPipe: searchText | sortPipe: filterName | taskPipe: filterTasks">
          <app-board-list-item
            [board]="board"
            (showBoard)="toBoard($event)"
            (details)="detailsBoard($event)"
            (update)="updateBoard($event)"
            (delete)="deleteBoard($event)"
          ></app-board-list-item>
        </div>
      </div>
    </div>
  </div>
</section>
