<section class="boards" *ngIf="boards$ | async as boards">
  <div class="container">
    <div class="boards-inner">
      <div class="controls">
        <div class="controls-top">
          <input type="text" class="controls-input" [(ngModel)]="searchText" placeholder="Search by Board name..."/>
          <button class="controls-button" (click)="modalService.open()">
            Add board
          </button>
        </div>
        <div class="controls-block">
          <div class="sort-block">
            <span class="sort-text">board: </span>
            <button class="sort-button" (click)="sortStartZ(boards)">
              a - z
            </button>
            <button class="sort-button" (click)="sortStartA(boards)">
              z - a
            </button>
          </div>
          <div class="sort-block">
            <span class="sort-text">tasks:</span>
            <button class="sort-button" (click)="sortDown(boards)">
              1 - 9
            </button>
            <button class="sort-button" (click)="sortUp(boards)">9 - 1</button>
          </div>
        </div>
      </div>
      <div>
        <div *ngFor="let board of boards | searchPipe: searchText">
          <app-board-list-item
            [board]="board"
            (showBoard)="toBoard($event)"
            (details)="detailsBoard($event)"
            (update)="updateBoard($event)"
            (delete)="deleteBoard($event)"
          ></app-board-list-item>
        </div>
      </div>
    </div>
  </div>
</section>
