<section class="board-item" *ngIf="board$ | async as board">
  <div class="container">
    <div class="board-item-inner">
      <div class="board-item-top board-top">
        <button class="board-top__back" (click)="back()">🠘</button>
        <span class="board-top__name">{{ board.name }}</span>
        <button class="board-top__delete" (click)="deleteBoard(board.id)">
          Delete board
        </button>
      </div>

      <div class="tasks-row" cdkDropListGroup>
        <div class="task" cdkDropList [cdkDropListData]="column.list"
          *ngFor="let column of this.boardService.getBoard$() | async" (cdkDropListDropped)="drop($event)">
          <div class="task-do__top">
            <span class="task-do__name">{{ column.title }}</span>
            <form class="task-do__block">
              <input type="text" class="task-do__input" placeholder="create new task">
              <button class="task-do__button">
                <img src="../../../../../../assets/plus.svg" alt="image" />
              </button>
            </form>
          </div>
          <div class="task-list">
            <div cdkDrag class="task-item" [ngStyle]="{ background: column.color }" [cdkDragData]="item"
              *ngFor="let item of column.list">
              <app-task [item]="item" (emitText)="onAddComment($event, column.id)"
                (emitDeleteItem)="onDeleteItem($event, column.id)">
                <div *ngFor="let comment of item.comments">
                  <app-comment [comment]="comment" (emitComment)="onDeleteComment($event, column.id, item)">
                  </app-comment>
                </div>
              </app-task>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
