<form [formGroup]="form" class="popup" (ngSubmit)="submit()">
  <div class="popup-content">
    <div class="popup-top">
      <div class="formTitle">{{ "create board" | titlecase }}</div>
      <div class="popup__close" (click)="modalService.close()">&times;</div>
    </div>
    <div class="popup-control">
      <input type="text" class="formInput" placeholder="Name..." formControlName="name" />
      <span *ngIf="names.errors?.minlength" class="popup-input__error">min length {{ names.value.length - 10 }}</span>
      <textarea type="text" class="popup-area" placeholder="Description..." formControlName="description"></textarea>
      <span *ngIf="descriptions.errors?.minlength" class="popup-area__error">min length
        {{ descriptions.value.length + "/" + 100 }}</span>
      <button class="formButton" type="submit">Add board</button>
    </div>
  </div>
</form>
