<div class="board">
  <div class="board-id"><strong>ID: </strong>{{ board.id }}</div>
  <div class="board-block">
    <div class="board-name">
      <span class="board-text">Board name: </span> <br/>
      {{ board.name }}
    </div>
    <div class="board-description">
      <span class="board-text">Board description: </span> <br/>
      {{ board.description }}
    </div>
    <!-- <div class="board-tasks">
      <span class="board-text">Tasks: </span> <br/>
      <span>{{ tasks.length }}</span>
    </div> -->
    <div class="board-creationDate">
      <span class="board-text">Creation date: </span> <br/>
      <span>{{ board.creationDate | date: "MM/dd/yy" }}</span>
    </div>
    <div class="board-buttons">
      <a class="board-button goBtn" [routerLink]="['/board', board.id]">Go to board</a>      
      <a class="board-button detailsBtn" [routerLink]="['/board', board.id, 'details']">
        <img src="assets/images/circle-info-solid.svg" alt="image"/>
      </a>      
      <a class="board-button updateBtn" [routerLink]="['/board', board.id, 'edit']">
        <img src="assets/images/pen-solid.svg" alt="image"/>
      </a>
      <button class="board-button deleteBtn" (click)="deleteBoard()">
        <img src="assets/images/trash-can-regular.svg" alt="image"/>
      </button>
    </div>
  </div>
</div>
