<section class="board-item">
  <div class="container">
    <div class="board-item-inner" *ngIf="board$ | async as board">
      <div class="board-item-top board-top">
        <a [routerLink]="['/']" class="board-top__back" >🠘</a>
        <span class="board-top__name">{{ board.name }}</span>
        <button class="board-top__delete" (click)="deleteBoard(board.id)">
          Delete board
        </button>
      </div>
      <div class="tasks-row" cdkDropListGroup>
        <div
          class="task"
          *ngFor="let column of boardColumns"
          cdkDropList
          [cdkDropListData]="tasks"
          (cdkDropListDropped)="drop($event)"
        >
          <app-column [column]="column" [board]="board"></app-column>
        </div>
      </div>
    </div>
  </div>
</section>
